/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Background generator
@mixin bodyBackground() {
	background-image: url('/ordina.png');
	background-size: cover;
	background-position: top left;
	background-repeat: no-repeat;
}

section {
	background: $backgroundColor;
	.title-slide {
		background: transparent;
		padding-top: 20% !important;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
	pre,
	blockquote {
		box-shadow: none;
	}

	cite {
		font-size: .8em;
		margin-bottom:1em;
	}

	section.about-me {
		.columns > * {
			float:left;
			margin-right: 1em;
		}

		img {
			border: none;
			box-shadow: none;
		}
		> img {
			float: right;
		}
	}

	.logo {
		border: none;
		box-shadow: none;
		height: 1em;
		width: auto;
		margin: 0 0.4em 0 0;
	}

	.contact {
		width: 100%;
		float: left;
		margin-top: 1em;
		.contact-set {
			margin-right: 1em;
		}
	}


	.inline {
		display:inline;
	}
}

.hljs-addition, .hljs-comment, .hljs-quote, .hljs-meta {
	color: orange !important;
}
